<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/swiffy-slider@1.6.0/dist/js/swiffy-slider.min.js" crossorigin="anonymous" defer></script>
    <link href="https://cdn.jsdelivr.net/npm/swiffy-slider@1.6.0/dist/css/swiffy-slider.min.css" rel="stylesheet" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/styles.css">
    <script src="https://kit.fontawesome.com/aad721d8a3.js" crossorigin="anonymous"></script>
    <title>Electronic Digital Store</title>
</head>
<body>
    <!--Menu-->
    <header class="main-header">
        <div class="main-header-bar">
            <img src="/img/logo.1.jpg" alt="" class="logo">

            <form class="header_search">
                <input type="search" id="busqueda" name="busqueda" placeholder="Buscar productos, marcas y mas..." aria-label="Campo de búsqueda" />
                <i class="fas fa-search"></i>
            </form>

            <a class="main-header-trolley" href="/productCart">
                <span class="cart-text">Ver carrito</span>
                <i class="fa-solid fa-cart-shopping"></i>
            </a>

        </div>

        <a href="#" class="hamburguer-button">
            <i class="fa-solid fa-bars"></i>
        </a>

        <nav class="menu">
        <ul class="menu-izquierdo">
            <li><a href="/"><i class="fa-solid fa-house"></i> Inicio</a></li>
            <li><a href="/productList"><i class="fa-solid fa-computer"></i> Productos</a></li>
            <li><a href="/">Sobre nosotros</a></li>
            <li><a href="/">Contacto</a></li>
            
        </ul>
        <ul class="menu-login">
            <li><a href="/register"><i class="fa-solid fa-user"></i> Registro</a></li>
            <li><a href="/login"><i class="fa-solid fa-right-to-bracket"></i> Acceso</a></li>
        </ul>
        </nav>
    </header>
    <!--Fin Menu-->

    <!--Cuerpo-->
    <main>
        <!--Slider-->
        <div class="swiffy-slider">
            <ul class="slider-container">
                <li><img src="/img/Banner-productos.jpg" style="max-width: 100%;height: auto;"></li>
                <li><img src="/img/Banner-lenovo.jpg" style="max-width: 100%;height: auto;"></li>
                <li><img src="/img/Banner-LG.png" style="max-width: 100%;height: auto;"></li>
            </ul>
        
            <button type="button" class="slider-nav"></button>
            <button type="button" class="slider-nav slider-nav-next"></button>
        
            <div class="slider-indicators">
                <button class="active"></button>
                <button></button>
            </div>
        </div>
        <!--Fin Slider-->

        <!--Tarjetas-->
        <div class="title-cards">
            <h2>Últimas Novedades</h2>
        </div>
        <div class="container-card">

        <div class="card">
        <figure>
            <img src="/img/macbook_pro.png">
        </figure>
        <div class="contenido-card">
            <h3>Macbook Pro</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto delectus id veritatis totam obcaecati commodi, ipsa, recusandae voluptate accusantium, doloremque perferendis ad cum consectetur incidunt quod? Ipsam, nesciunt asperiores! Quam?</p>
            <a href="#">Comprar</a>
        </div>
        </div>

        <div class="card">
        <figure>
            <img src="/img/monitor-dell.png">
        </figure>
        <div class="contenido-card">
            <h3>Monitor Dell</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores voluptatem est modi rem? Animi quas iure architecto, aspernatur neque soluta nulla recusandae ullam, dicta incidunt distinctio temporibus et! Dolores, minus.</p>
            <a href="#">Comprar</a>
        </div>
        </div>

        <div class="card">
        <figure>
            <img src="/img/pc-escritorio.png">
        </figure>
        <div class="contenido-card">
            <h3>PC escritorio</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda eum porro dolorum dolore necessitatibus corrupti vel voluptas autem molestias. Dolores, obcaecati ad. Odio culpa fuga, necessitatibus labore similique sint sunt?</p>
            <a href="#">Comprar</a>
        </div>
        </div>

        <div class="card">
            <figure>
                <img src="/img/teclado-asus.png">
            </figure>
            <div class="contenido-card">
                <h3>Teclado Asus</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque quas quae perferendis corrupti, aliquid officia minima error. Magni, in numquam! Quis velit a incidunt, aliquam tempore odio adipisci consectetur facere.</p>
                <a href="#">Comprar</a>
            </div>
            </div>

        </div>
        <!--Fin   Tarjetas-->

        <!--Slider-->
        <div class="swiffy-slider">
            <ul class="slider-container">
                <li><img src="/img/Banner-Promociones-bancarias.png" style="max-width: 100%;height: auto;"></li>
                <li><img src="/img/BANNER-CREDICOOP.jpg" style="max-width: 100%;height: auto;"></li>
                <li><img src="/img/Banner-Provincia.png" style="max-width: 100%;height: auto;"></li>
            </ul>

            <button type="button" class="slider-nav"></button>
            <button type="button" class="slider-nav slider-nav-next"></button>

            <div class="slider-indicators">
                <button class="active"></button>
                <button></button>
            </div>
        </div>
        <!--Fin Slider-->

        <!--<article class="contenedor">
            <h2>Articulo 1</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores consequatur illum assumenda tenetur distinctio! Atque distinctio natus aspernatur accusamus eius repudiandae harum blanditiis mollitia adipisci, dicta deleniti, sint quidem voluptatibus.</p>

            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores consequatur illum assumenda tenetur distinctio! Atque distinctio natus aspernatur accusamus eius repudiandae harum blanditiis mollitia adipisci, dicta deleniti, sint quidem voluptatibus.</p>
        </article>
        <div class="cont1">
            <h2>Contenido 1</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium nesciunt blanditiis ipsa quis architecto eaque mollitia obcaecati, itaque non fugit repudiandae quia ipsam tempora iste aperiam? Sit odit fuga libero?</p>
        </div>
        <div class="cont2">
            <h2>Contenido 1</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium nesciunt blanditiis ipsa quis architecto eaque mollitia obcaecati, itaque non fugit repudiandae quia ipsam tempora iste aperiam? Sit odit fuga libero?</p>
        </div>-->
        <div class="main-info">
            <section>
                <figure>
                    <i class="fa-solid fa-credit-card"></i>
                </figure>
                <div class="contenido-card">
                    <h3>Pagá con tarjeta o en efectivo</h3>
                    <p>Con Mercado Pago, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
                </div>
            </section>
            <section>
                <figure>
                    <i class="fa-solid fa-truck"></i>
                </figure>
                <div class="contenido-card">
                    <h3>Envío rápido y seguro</h3>
                    <p>Elegí Mercado Envíos y seguí tu compra hasta que llegue a tus manos.</p>
                </div>
            </section>
            <section>
                <figure>
                    <i class="fa-solid fa-shield-halved"></i>
                </figure>
                <div class="contenido-card">
                    <h3>Compra Protegida</h3>
                    <p>Te acompañamos hasta que recibas lo que compraste. Y si no es lo que esperabas, te devolvemos el dinero.</p>
                </div>
            </section>
        </div>

    </main>
    <!--Fin Cuerpo-->

    <!--Pie de Página-->
    <footer class="footer">
        <div class="container-footer">
            <section>
                <h2>Tu cuenta</h2>
                <ul>
                    <li><a href="#">Acceder/Registrarme</a></li>
                    <li><a href="#">¿Olvidaste tu contraseña?</a></li>
                    <li><a href="#">Carrito</a></li>
                    <li><a href="#">Tu pedido</a></li>
                </ul>
            </section>
            <section>
                <h2>Categorias</h2>
                <ul>
                    <li><a href="#">Notebook</a></li>
                    <li><a href="#">PC de escritorio</a></li>
                    <li><a href="#">Monitores</a></li>
                    <li><a href="#">Teclados</a></li>
                    <li><a href="#">Mouse</a></li>
                    <li><a href="#">Almacenamiento</a></li>
                </ul>
            </section>
            <section>
                <h2>Informacion</h2>
                <ul>
                    <li><a href="#">Numero de telefono</a></li>
                    <li><a href="#">info@eSdigital.com</a></li>
                    <p>4600, San Salvador de Jujuy, Jujuy, Argentina</p>
                </ul>
            </section>
            <section>
                <h2>Seguinos en</h2>
                <div class="redes">
                    <i class="fa-brands fa-facebook"></i>
                    <i class="fa-brands fa-instagram"></i>
                    <i class="fa-brands fa-youtube"></i>
                </div>
            </section>
        </div>
        
        <p class="text-center">Copirigth © 2023-2024. Electronics Store Digital. Todos los derechos reservados</p>
    </footer>
     <!--Fin Pie de Página-->
</body>
</html>