<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="/css/styles.css">
   <script src="https://kit.fontawesome.com/aad721d8a3.js" crossorigin="anonymous"></script>
    <title>Electronic Digital Store</title>
</head>
<body>
    <!--Menu-->
    <header class="main-header">
        <div class="main-header-bar">
            <img src="/img/logo.jpeg" alt="" class="logo">
            <h1 class="titulo-logo">Digital Store</h1>
        </div>

        <a href="#" class="hamburguer-button">
            <i class="fa-solid fa-bars"></i>
        </a>

        <nav class="menu">
        <ul class="menu-izquierdo">
            <li><a href="/"><i class="fa-solid fa-house"></i> Inicio</a></li>
            <li><a href="/productDetail"><i class="fa-solid fa-computer"></i> Productos</a></li>
            <li><a href="/productCart"><i class="fa-solid fa-cart-shopping"></i> Carrito</a></li>
            
        </ul>
        <ul class="menu-login">
            <li><a href="/register"><i class="fa-solid fa-user"></i> Registro</a></li>
            <li><a href="/login"><i class="fa-solid fa-right-to-bracket"></i> Acceso</a></li>
        </ul>
        </nav>
    </header>
    <!--Fin Menu-->

    <!--Cuerpo-->
    <main>
        <section>
            <h1>Bienvenido Inicio</h1>
        </section>
        <!--<article class="contenedor">
            <h2>Articulo 1</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores consequatur illum assumenda tenetur distinctio! Atque distinctio natus aspernatur accusamus eius repudiandae harum blanditiis mollitia adipisci, dicta deleniti, sint quidem voluptatibus.</p>

            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores consequatur illum assumenda tenetur distinctio! Atque distinctio natus aspernatur accusamus eius repudiandae harum blanditiis mollitia adipisci, dicta deleniti, sint quidem voluptatibus.</p>
        </article>
        <div class="cont1">
            <h2>Contenido 1</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium nesciunt blanditiis ipsa quis architecto eaque mollitia obcaecati, itaque non fugit repudiandae quia ipsam tempora iste aperiam? Sit odit fuga libero?</p>
        </div>
        <div class="cont2">
            <h2>Contenido 1</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium nesciunt blanditiis ipsa quis architecto eaque mollitia obcaecati, itaque non fugit repudiandae quia ipsam tempora iste aperiam? Sit odit fuga libero?</p>
        </div>-->
        <section>

        </section>
    </main>
    <!--Fin Cuerpo-->

    <!--Pie de Página-->
    <footer>

    </footer>
     <!--Fin Pie de Página-->
</body>
</html>