<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Login</title>
</head>
<body>
    <h1>Login</h1>
    <ul>
        <li><a href="/">Inicio</a></li>
        <li><a href="/productDetail">Productos</a></li>
        <li><a href="/register">Registro</a></li>
        <li><a href="/login">Acceso</a></li>
        <li><a href="/productCart">Carrito</a></li>
    </ul>
</header>
<!--Fin Menu-->

<!--Cuerpo-->
<main>
    <section>

    </section>
</main>
<!--Fin Cuerpo-->

<!--Pie de Página-->
<footer>

</footer>
 <!--Fin Pie de Página-->
</body>
</html>