<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/aad721d8a3.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/styles.css">
    <title>Detalle de Producto</title>
</head>
<body>
     <!--Menu-->
     <header class="main-header">
        <div class="main-header-bar">
            <img src="/img/logo.1.jpg" alt="" class="logo">
        </div>

        <a href="#" class="hamburguer-button">
            <i class="fa-solid fa-bars"></i>
        </a>

        <nav class="menu">
        <ul class="menu-izquierdo">
            <li><a href="/"><i class="fa-solid fa-house"></i> Inicio</a></li>
            <li><a href="/productDetail"><i class="fa-solid fa-computer"></i> Productos</a></li>
            <li><a href="/productCart"><i class="fa-solid fa-cart-shopping"></i> Carrito</a></li>
            
        </ul>
        <ul class="menu-login">
            <li><a href="/register"><i class="fa-solid fa-user"></i> Registro</a></li>
            <li><a href="/login"><i class="fa-solid fa-right-to-bracket"></i> Acceso</a></li>
        </ul>
        </nav>
    </header>
    <!--Fin Menu-->

<!--Cuerpo-->
<main>
    <section>
        <h1>Detalle del Producto</h1>
    </section>
</main>
<!--Fin Cuerpo-->

<!--Pie de Página-->
<footer>

</footer>
 <!--Fin Pie de Página-->
</body>
</html>