<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/aad721d8a3.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/styles.css">
    <title>Registro</title>
</head>
<body>
     <!--Menu-->
     <header class="main-header">
        <div class="main-header-bar">
            <img src="/img/logo.jpeg" alt="" class="logo">
            <h1 class="titulo-logo">Digital Store</h1>
        </div>

        <a href="#" class="hamburguer-button">
            <i class="fa-solid fa-bars"></i>
        </a>

        <nav class="menu">
        <ul class="menu-izquierdo">
            <li><a href="/"><i class="fa-solid fa-house"></i> Inicio</a></li>
            <li><a href="/productDetail"><i class="fa-solid fa-computer"></i> Productos</a></li>
            <li><a href="/productCart"><i class="fa-solid fa-cart-shopping"></i> Carrito</a></li>
            
        </ul>
        <ul class="menu-login">
            <li><a href="/register"><i class="fa-solid fa-user"></i> Registro</a></li>
            <li><a href="/login"><i class="fa-solid fa-right-to-bracket"></i> Acceso</a></li>
        </ul>
        </nav>
    </header>
    <!--Fin Menu-->

<!--Cuerpo-->
<main>
    <section>
        <h1>Registrarse</h1>
        <p>Ingresa tus datos para crear una cuenta</p>
        <form action="/registro" method="POST" class="formulario">
            <div class="control-formulario">
                <label for="nombre">Nombre:</label>
                <input type="text" name="nombre" id="nombre" class="control">

                <label for="nombre">Apellido:</label>
                <input type="text" name="apellido" id="apellido" class="control">
            </div>

            <div class="control-formulario">
                <label for="email">Email:</label>
                <input type="email" name="email" id="email" class="control">
            </div>

            <div class="control-formulario">
                <label for="telefono">Contraseña:</label>
                <input type="password" name="contra" id="contra" class="control">
            </div>

            <div class="control-formulario">
                <label for="telefono">Repetir Contraseña:</label>
                <input type="password" name="contra1" id="contra1" class="control">
            </div>

            <button type="submit" class="boton-formulario">Registrarme</button>
            <button type="reset" class="boton-formulario">Cancelar</button>
        </form>
    </section>
</main>
<!--Fin Cuerpo-->

<!--Pie de Página-->
<footer>

</footer>
 <!--Fin Pie de Página-->
</body>
</html>