<header class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="row pt-4">
                    <div class="col-12 col-lg-4 text-center">
                        <a href="http://localhost:3005/">
                            <img class="w-75 h-75" src="/images/logo-mercado-liebre.svg" alt="Logo">
                        </a>
                    </div>
                    <div class="col-12 col-lg-4 text-center">
                        <input class="w-75" type="search" id="site-search" name="q"
                        aria-label="Barra de búsqueda en el sitio">
                    </div>
                    <div class="col-12 col-lg-4">
                        <p class="text-center">Comprá en cuotas y sin tarjeta de crédito</p>
                    </div>
                    <div class="col-12">
                        <nav>
                            <ul class="row">
                                <li class="col-12 col-lg-1"><a href="#">Ofertas</a></li>
                                <li class="col-12 col-lg-2"><a href="#">Tiendas Oficiales</a></li>
                                <li class="col-12 col-lg-1"><a href="#">Vender</a></li>
                                <li class="col-12 col-lg-1"><a href="#">Ayuda</a></li>
                                <li class="col-12 col-lg-2 offset-lg-1"><a href="http://localhost:3005/users/register">Creá tu cuenta</a></li>
                                <li class="col-12 col-lg-1"><a href="http://localhost:3005/users/login">Ingresá</a></li>
                                <li class="col-12 col-lg-2"><a href="#">Mis compras</a></li>
                                <div class="burger-menu col-12 col-lg-1">
                                    <i class="fas fa-bars"></i>
                                </div>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>