<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/aad721d8a3.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/carrito.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <title>Carrito de Compra</title>
</head>
<body>
    <!--Menu-->
    <%- include('./partials/header.ejs') %>
    <!--Fin Menu-->

<!--Cuerpo-->
<main class="cart">

    <h2 id="cart-title">Carrito de compras</h2>

    <section class="cart-list">

        <article class="cart-item">

            <div class="article-info">
                <img src="/img/macbook_pro.png" alt="Nombre del producto">
            
                <div class="item-details">
                    <h3>Nombre del producto</h3>
                    <p>Descripción del producto</p>
                </div>

                <div class="item-amount">
                    <label>
                        <button class="more-less"><i class="fas fa-plus-circle"></i></button>
                        <input type="number" id="cantidad" name="cantidad" min="1" max="10" value="1">
                        <button class="more-less"><i class="fas fa-minus-circle"></i></button>
                    </label>
                    <p>Unidades disponibles: 2</p>
                </div>

                <div class="item-price">
                    <p>Precio unitario: $20.00</p>
                    <h5>25% Off</h5>
                </div>
            </div>

            <div class="item-actions">
                <button class="btn-delete">Eliminar</button>
                <button class="btn-buy">Comprar</button>
            </div>

        </article>

        <article class="cart-item">

            <div class="article-info">
                <img src="/img/monitor-dell.png" alt="Nombre del producto">
            
                <div class="item-details">
                    <h3>Nombre del producto</h3>
                    <p>Descripción del producto</p>
                </div>

                <div class="item-amount">
                    <label>
                        <button class="more-less"><i class="fas fa-plus-circle"></i></button>
                        <input type="number" id="cantidad" name="cantidad" min="1" max="10" value="1">
                        <button class="more-less"><i class="fas fa-minus-circle"></i></button>
                    </label>
                    <p>Unidades disponibles: 2</p>
                </div>

                <div class="item-price">
                    <p>Precio unitario: $20.00</p>
                    <h5>25% Off</h5>
            </div>
            </div>

            <div class="item-actions">
                <button class="btn-delete">Eliminar</button>
                <button class="btn-buy">Comprar</button>
            </div>

        </article>

        <article class="cart-item">

            <div class="article-info">
                <img src="/img/pc-escritorio.png" alt="Nombre del producto">
            
                <div class="item-details">
                    <h3>Nombre del producto</h3>
                    <p>Descripción del producto</p>
                </div>

                <div class="item-amount">
                    <label>
                        <button class="more-less"><i class="fas fa-plus-circle"></i></button>
                        <input type="number" id="cantidad" name="cantidad" min="1" max="10" value="1">
                        <button class="more-less"><i class="fas fa-minus-circle"></i></button>
                    </label>
                    <p>Unidades disponibles: 2</p>
                </div>

                <div class="item-price">
                    <p>Precio unitario: $20.00</p>
                    <h5>25% Off</h5>
                </div>
            </div>

            <div class="item-actions">
                <button class="btn-delete">Eliminar</button>
                <button class="btn-buy">Comprar</button>
            </div>

        </article>

        <article class="cart-item">

            <div class="article-info">
                <img src="/img/teclado-asus.png" alt="Nombre del producto">
            
                <div class="item-details">
                    <h3>Nombre del producto</h3>
                    <p>Descripción del producto</p>
                </div>

                <div class="item-amount">
                    <label>
                        <button class="more-less"><i class="fas fa-plus-circle"></i></button>
                        <input type="number" id="cantidad" name="cantidad" min="1" max="10" value="1">
                        <button class="more-less"><i class="fas fa-minus-circle"></i></button>
                    </label>
                    <p>Unidades disponibles: 2</p>
                </div>

                <div class="item-price">
                    <p>Precio unitario: $20.00</p>
                    <h5>25% Off</h5>
                </div>
            </div>

            <div class="item-actions">
                <button class="btn-delete">Eliminar</button>
                <button class="btn-buy">Comprar</button>
            </div>

        </article>
          
    </section>

    <section class="cart-payment">

        <div class="cart-monto">
            <div class="cart-monto-detalle">
                <div>
                    <h6>Articulos (numero)</h6>
                    <h5>$ Precio productos</h5>
                </div>
                <div>
                    <h6>Envio</h6>
                    <h5>$ Precio de envio</h5>
                </div>
            </div>
            
            <h3>Total: $40.00</h3>
        </div>
    
        <div class="payment-method">
            <h4>Medio de pago</h4>
            <img src="/img/medios-pago.png" style="width: 250px; margin-bottom: 10px;">
            <label><input type="radio" name="payment-method" value="1">Deposio o Transferencia Bancaria</label>
            <label><input type="radio" name="payment-method" value="2">Mercadopago - Tarjetas online, PagoFacil, RapiPago</label>
            <label><input type="radio" name="payment-method" value="3">Tarjeta de credito ¡Hasta 12 cuotas!</label>
        </div>
    </section>
    
    <button class="btn-checkout">Completar transacción</button>

</main>
<!--Fin Cuerpo-->

    <!--Pie de Página-->
    <%- include('./partials/footer.ejs') %>
     <!--Fin Pie de Página-->
</body>
</html>