<footer class="footer">
    <div class="container-footer">
        <section>
            <h2>Tu cuenta</h2>
            <ul>
                <li><a href="#">Acceder/Registrarme</a></li>
                <li><a href="#">¿Olvidaste tu contraseña?</a></li>
                <li><a href="#">Carrito</a></li>
                <li><a href="#">Tu pedido</a></li>
            </ul>
        </section>
        <section>
            <h2>Categorias</h2>
            <ul>
                <li><a href="#">Notebook</a></li>
                <li><a href="#">PC de escritorio</a></li>
                <li><a href="#">Monitores</a></li>
                <li><a href="#">Teclados</a></li>
                <li><a href="#">Mouse</a></li>
                <li><a href="#">Almacenamiento</a></li>
            </ul>
        </section>
        <section>
            <h2>Informacion</h2>
            <ul>
                <li><a href="#">Numero de telefono</a></li>
                <li><a href="#">info@eSdigital.com</a></li>
                <p>4600, San Salvador de Jujuy, Jujuy, Argentina</p>
            </ul>
        </section>
        <section>
            <h2>Seguinos en</h2>
            <div class="redes">
                <i class="fa-brands fa-facebook"></i>
                <i class="fa-brands fa-instagram"></i>
                <i class="fa-brands fa-youtube"></i>
            </div>
        </section>
    </div>
    
    <p class="text-center">Copirigth © 2023-2024. Electronics Store Digital. Todos los derechos reservados</p>
</footer>