<footer class="footer container-fluid pt-5 pt-lg-5">
    <div class="container footer">       
        <div class="row">
            <section class="col-6 col-lg-3">
                <h2>Tu cuenta</h2>
                <ul>
                    <li><a href="#">Acceder/Registrarme</a></li>
                    <li><a href="#">¿Olvidaste tu contraseña?</a></li>
                    <li><a href="#">Carrito</a></li>
                    <li><a href="#">Tu pedido</a></li>
                </ul>
            </section>
            <section class="col-6 col-lg-3">
                <h2>Categorias</h2>
                <ul>
                    <li><a href="/product/category/NOTEBOOK">Notebook</a></li>
                    <li><a href="/product/category/PC-ESCRITORIO">PC de escritorio</a></li>
                    <li><a href="/product/category/MONITOR">Monitores</a></li>
                    <li><a href="/product/category/TECLADO">Teclados</a></li>
                    <li><a href="/product/category/MOUSE">Mouse</a></li>
                    <li><a href="/product/category/ALMACENAMIENTO">Almacenamiento</a></li>
                </ul>
            </section>
            <section class="col-6 col-lg-3">
                <h2>Informacion</h2>
                <ul>
                    <li><a href="#">Numero de telefono</a></li>
                    <li><a href="#">info@eSdigital.com</a></li>
                    <p>4600, San Salvador de Jujuy, Jujuy, Argentina</p>
                </ul>
            </section>
            <section class="col-6 col-lg-3">
                <h2>Seguinos en</h2>
                <div class="redes">
                    <i class="fa-brands fa-facebook"></i>
                    <i class="fa-brands fa-instagram"></i>
                    <i class="fa-brands fa-youtube"></i>
                </div>
            </section>
            <div class="col-12">
                <p class="text-center">Copirigth © 2023-2024. Electronics Store Digital. Todos los derechos reservados</p>
            </div>
        </div>
    </div>
</footer>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.2/sweetalert.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.10.8/dist/sweetalert2.all.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>