<!DOCTYPE html>
<html lang="en">
    
<%- include('./partials/head.ejs') %>

<body>    
    <%- include('./partials/header.ejs') %>
    <main class="bg-light">
        <section class="container">
            <div class="row gap-1">
                <div class="col-12 text-center">
                    <h2 class="mb-3 mt-5">Basado en tu última visita</h2>
                </div>
                <% productList.forEach(product => { %>
                    <%- include('./partials/product.ejs',{product}) %>
                <% }) %>
            </div>
        </section>
    
        <!-- Sección de Ofertas -->
        <section class="container">
            <div class="row">
                <div class="col-12 text-center">
                    <h2 class="mb-3 mt-5">Ofertas</h2>
                </div>
                <div class="col-12 col-lg-3 m-3 m-lg-0 text-center border border pt-5 bg-white">
                    <img class="w-50 h-50" src="/images/img-cafetera-moulinex.jpg" alt="Cafetera Moulinex">
                    <p>$6.770</p>
                    <p class="text-success">40% OFF</p>
                    <p>Cafetera Moulinex</p>
                </div>
                <div class="col-12 col-lg-3 m-3 m-lg-0 text-center border border pt-5 bg-white">
                    <img class="w-50 h-50" src="/images/img-macbook-pro-2019.jpg" alt="MacBook Pro 2019">
                    <p>$230.000</p>
                    <p class="text-success">20% OFF</p>
                    <p>MacBook Pro 2019</p>
                </div>
                <div class="col-12 col-lg-3 m-3 m-lg-0 text-center border border pt-5 bg-white">
                    <img class="w-50 h-50" src="/images/img-samsung-galaxy-s10.jpg" alt="Samsung Galaxy s10">
                <p>$70.500</p>
                <p class="text-success">10% OFF</p>
                <p>Samsung Galaxy s10</p>
                </div>
                <div class="col-12 col-lg-3 m-3 m-lg-0 text-center border border pt-5 bg-white">
                    <img class="w-50 h-50" src="/images/img-tv-samsung-smart.jpg" alt="SmartTv Samsung 43">
                    <p>$23.200</p>
                    <p class="text-success">5% OFF</p>
                    <p>SmartTv Samsung 43</p>
                </div>
            </div>
        </section>
    </main>
    <%- include('./partials/footer.ejs') %>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
</body>
</html>